body{
background-image:url(Pictures/ro4.jpg);
background-repeat:no-repeat;
background-size:100% 100%;
}
.Container{
height:100%;
width:1200px;
margin: 0 auto;
}

#Headcon{
height:150px;
width:1200px;
}



#Headcon-left{
height:150px;
width:600px;
background-color:#d61839;
float:left;
.border-radius:20px;
}

#Headcon img{
height:150px;
width:170px;
}
#Headcon label{
font-size:35px;
text-decoration:underline;
font-weight:bold;
position:absolute;
padding-top:45px;
padding-left:50px;
font-family:broadway;
color:#ffffff;
}

#Headcon strong{
font-size:15px;
.text-decoration:underline;
font-weight:bold;
position:absolute;
padding-top:85px;
padding-left:70px;
font-family:arial;
color:#ffeb3b;
}

#Headcon-right{
height:150px;
width:600px;
.background-color:gray;
float:left;
}
#Headcon-up{
height:75px;
width:600px;
background-color:#00112b;		
float:left;
border-bottom:5px solid white;
}
#Headcon-up p{
font-size:20px;
.position:absolute;
padding-top:20px;
padding-left:40px;
.text-align:center;
color:#ffeb3b;
font-family:broadway;
font-weight:bold;
word-spacing:1px;
letter-spacing:1px;
}


#Headcon-down{
height:70px;
width:600px;
background-color:#00112b;
float:right;
}

#Headcon-down p{
font-size:20px;
.position:absolute;
padding-top:25px;
padding-left:40px;
.text-align:center;
color:#ffeb3b;
font-family:broadway;
font-weight:bold;
word-spacing:1px;
letter-spacing:1px;
}
#Headcon-down img{
height:50;
width:70;
padding-left:50px;
padding-top:10px;
text-align:center;
}

#Headcon-down img:hover{
padding-bottom:10px;
.transition-delay:2s;
}

#Navigation{
.background:#000000;
width:1200px;
height:54px;
float:right;
color:ffffff;
}

 /*nav ul li a{
 text-decoration:none;
 }*/
 a:linked, a:active{
  color:#0095c7;
 }


 /* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #00112b;
	text-align:left;
	font-size:100%;
	color:#fff;
	font-family:;
	/*width:1000px;
	margin-left:auto;
	margin-right:auto;    wala ni si iya  */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Naglibug ko dinhe   ang una dyud ani kay (  .  ) dot   */
*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}

.body{
   width:1200px;
	margin-left:auto;
	margin-right:auto;
}


.mainheader{
    width:1200px;
    height:50px;
    background-color:#000;
	/*border-bottom:5px solid #A6A616;*/
    margin-left:auto;
    margin-right:auto;
	overflow:hidden;
}

.mainheader nav ul li a{
display:inline;
float:left;
 text-decoration:none;
}

.mainheader  nav a:link, .mainheader a:visited{
color:#ffffff;
display:inline-block;
padding:17px 25px;
 margin-right:5px;
}

.mainheader nav a:hover{
text-shadow:none;
color:#00ff00;
border-top:3px solid #00ff00;
cursor:pointer;
text-decoration:underline;
}

/*Note position:fixed;   its means that dili siya ma move kung imo siyang e scroll down*/
.fullwidth{
height:50px;
background-color:#000;
width:1200px;
position:;
overflow:hidden;
clear:both;
z-index:3;
border-bottom:4px solid #00ff00;
border-top:px solid #A6A616; /*   kuha,a lang ni pag naa nakay header */
}

#Body{
height:400px;
width:1200px;
}

#Body-right{
height:400px;
width:1200px;
.background:#00112b;
float:left;
}
#Body-right img{
height:400px;
width:1200px;
.background:#;
.float:left;
}
